{% extends 'base.html' %}
{% block link %}

<li><a class="text-white" href="{% url 'produto_listar' %}">Produtos</a></li>
<li><a class="text-white"  href="{% url 'marca_listar' %}">Marcas</a></li>
  {% endblock %}
{% block center %}


<<div class="container py-5">
  <h2 class="fw-light text-center py-3 "> Lista dos Produtos Cadastrados</h2>

  <a href="{% url 'produto_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Marca</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}  
      <tr>
          <td>{{ produto.nome }}</td>
          <td>R${{ produto.preco }}</td>
          <td>{{ produto.marca}}</td>
          <td>
              <a href="{% url 'produto_editar' id=produto.id %}" class="btn btn-primary btn-sm">Editar</a>
              <a href="{% url 'produto_remover' id=produto.id %}" class="btn btn-danger btn-sm">Remover</a>
          </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
</div>
{% endblock %}



